In [7]:
import pandas as pd
from sqlite3 import connect

In [11]:
from sqlalchemy import create_engine
import psycopg2

In [5]:
# Path to sqlite
database_path = "/Resources/brain_stroke.sqlite"

In [9]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [16]:
# declare the connection string specifying
# the host name database name use name
# and password
conn_string = "host='localhost' dbname='Stroke'\
user='postgres' password='Juhi@123'"
 
# use connect function to establish the connection
conn = psycopg2.connect(conn_string)

In [17]:
data = pd.read_sql('select * from stroke', conn)

c:\Users\juhis\anaconda3\New folder\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [18]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,1,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
2,2,0,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
3,3,0,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
4,4,1,81.0,0,0,1,Private,Urban,186.21,29.0,formerly smoked,1